body {
    font-family: Mukta !important;
}

#puzzle-container {
    /* height: 440px;
    width: 660px; */
    height: 350px;
    width: 520px;
    margin: auto;
    position: relative;
}

#canvas {
    cursor: pointer;
}

.text-container {
    position: absolute;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 155px;
    text-align: center;
    font-size: 25px;
    color: lavender;
    cursor: pointer;
}

#done {
    cursor: default !important;
}

#metrics {
    display: none;
    width: 520px;
    margin: auto;
    margin-top: 20px;
}
